.table-data {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
    font-size: 16px;
}

.table-data .link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: underline;
    color: #0000ee;
    font-weight: 300;
    font-size: 16px;
    cursor: pointer;
}
