.column-filter-main {
    cursor: pointer;
    position: relative;
    z-index: 1;
    margin-right: 4px;
}

.filter-icon {
    vertical-align: middle;
    height: 16px;
    width: 16px;
    display: flex;
    color: #343a40;
    background: none;
}

.filter-dropdown {
    background-color: #ffffff;
    color: #495057;
    border: 0 none;
    border-radius: 6px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    min-width: 280px;
}

#datatable thead th:first-child .filter-dropdown {
    left: 0;
    width: 240px;
    min-width: 280px;
}

#datatable thead th:last-child .filter-dropdown {
    right: 20px !important;
    width: 240px;
    min-width: 280px;
    left: auto !important;
}

.filter-icon-section:has(.active) {
    background: #be2bbb;
    padding: 5px;
    display: inline-block;
    border-radius: 50%;
}

/* .filter-icon-section:has(:hover){
    background: #595454;
    padding: 5px;
    display: inline-block;
    border-radius: 50%;
    transition: 0.3s;
} */

.filter-icon.active {
    filter: invert(1);
}

/* .filter-icon:hover{
    filter: invert(1);
} */

.custom-dropdown {
    color: #343a40;
    margin: 0;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    width: 100%;
    position: relative;
    display: inline-block;
}

.custom-dropdown-2 {
    color: #343a40;
    margin: 0;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    width: 100%;
    position: relative;
    display: inline-block;
}

.operator-dropdown-section {
    padding: 10px 15px;
    border-bottom: 1px solid #dee2e6;
    color: #343a40;
    background: #f8f9fa;
    margin: 0;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

/* .p-dropdown {
  display: flex;
  background: #fff;
  border: 1px solid #ced4da;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 25px;
} */

.dropdown-container {
    text-align: left;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 5px;
}

.dropdown-input {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 6px;
    height: 40px;
}

.dropdown-input:hover {
    border-color: #be2bbb;
}

.dropdown-input:focus {
    border-color: #be2bbb;
}

.dropdown-menu {
    position: absolute;
    transform: translateY(0);
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 160px;
    background-color: #fff;
    z-index: 99;
    padding: 12px 0;
    width: 100%;
    overflow: auto;
}

.dropdown-item {
    padding: 5px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #9fc3f870;
}

.dropdown-item.selected {
    background-color: #0d6efd;
    color: #fff;
}

.dropdown-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.dropdown-tag-item {
    background-color: #ddd;
    padding: 2px 4px;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.Matchmode-Section {
    color: #343a40;
    margin: 0;
}

.filter-input-text {
    font-size: 15px;
    color: #495057;
    background: #ffffff;
    padding: 12px 12px;
    border: 1px solid #ced4da;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
    appearance: none;
    border-radius: 6px;
    margin-top: 8px;
    height: 40px;
    width: 100%;
}

.add-rule {
    color: #6366f1;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    /* padding: 5.5px 17.5px; */
    font-size: 14px;
    margin-top: 8px;
    width: 100%;
}

.remove-rule {
    color: #ef4444;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    /* padding: 5.5px 17.5px; */
    font-size: 14px;
    margin-top: 8px;
    width: 100%;
}

.add-rule:hover {
    background: rgba(99, 102, 241, 0.04);
    color: #6366f1;
    border-color: transparent;
}

.remove-rule:hover {
    background: rgba(239, 68, 68, 0.04);
    border-color: transparent;
    color: #ef4444;
}

.filter-footer-button {
    border: 1px solid #be2bbb;
    color: #be2bbb;
    padding: 5.5px 17.5px;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.primary {
    background-color: #be2bbb;
    color: #ffffff;
}

.option-label {
    padding: 12px 20px;
    color: #495057;
    font-weight: normal;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    display: flex;
    cursor: pointer;
}

.option-label.selected {
    color: #4338ca;
    background: #eef2ff;
}

.option-label:hover {
    color: #495057;
    background: #e9ecef;
}

.section-alignment {
    padding: 5px 15px;
    background: #fff;
}

.Multi-section {
    /* overflow-y: auto; */
    /* max-height: 250px; */
    background: #fff;
}

.column-footer-buttons {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: auto;
    background: #fff;
}

.dropdown-selected-value {
    font-size: 15px;
    color: #495057;
    padding: 12px 12px;
    font-weight: normal;
}

.dropdown-Icon {
    height: 20px;
    width: 20px;
}

.dropdown-tools {
    position: relative;
    right: 10px;
    top: 3px;
}

.custom-dropdown:hover .dropdown-menu,
.custom-dropdown:has(.dropdown-menu) {
    display: block;
}

.dropdown-menu {
    display: none;
}
