.dataTable {
    border-collapse: collapse;
    position: relative;
}

.dataTable th {
    position: relative;
    background-color: #eee7e7;
    padding: 7px 15px;
}

.dataTable thead, 
.dataTable tbody tr {
    width:100%;
    table-layout:fixed;
}

.dataTable th .resizer:last-child {
    display: none;
}

table td {
    padding: 0 15px;
}

table tr:nth-child(even) {
    background-color: #fcfafa;
}

.resizer {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 35px;
    cursor: col-resize;
    user-select: none;
    background-color: #fff;
}

.resizable {
    border: 1px solid gray;
    height: 100px;
    width: 100px;
    position: relative;
}

#dataTable-parent_Freeze{
    height: calc(100vh - 175px);
    display: grid;
    overflow-x: auto;
}

#dataTable-parent{
    display: grid;
    overflow-x: auto;
    min-height: calc(100vh - 175px);
}

.dataTable.Header_freeze {
    height: 100%;
}

.dataTable.Header_freeze thead th {
    position: sticky;
    top: 0px;
}

.action-template {
    white-space: nowrap;
    font-weight: 300;
    font-size: 16px;
    color: #be2bbb;
    position: unset;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.action-label {
    padding: 12px 20px;
}

#datatable tr {
    height: 45px !important;
}

.action-label:hover {
    text-decoration: underline;
}

.datatable-body-parent {
    position: relative;
}

.datatable-head-parent {
    position: sticky;
    top: 0;
    z-index: 1;
}

.no-datatable {
    text-align: center;
    color: #495057;
    white-space: nowrap;
    border-spacing: 0;
    font-size: 20px;
    height: 350px;  /*added this to display no data in center from top of the table */
}

.datatable-checkbox {
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: 2px solid #ced4da;
    outline: none;
    cursor: pointer;
    background-color: #fff;
    border-width: 1.4px;
}

.datatable-checkbox:after {
    background-color: #BE2BBB;
    visibility: visible;
  }
  
  .datatable-checkbox:checked:after {
    content: "\2714";
    width: 18px;
    height: 16px;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 10px;
    padding-top: 2px;
    font-weight: bold;
    border-radius: 2px;
  }

.expander {
    border: 0;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
}